:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url(./media/headerBcg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.wrp1 {
  height: 100vh;
  width: 100%;
}
.navbar {
  height: 4.8rem;
  width: 100%;
  background-color: var(--mainWhite);
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
}
.second {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.anchor {
  width: 50%;
  text-align: center;
}
.anchor a {
  text-decoration: none;
  color: var(--mainPink);
  font-size: 1.5rem;
  padding: 0.5rem 0.25rem;
}
.anchor a:hover {
  color: var(--mainBlack);
  cursor: pointer;
}
.phone {
  display: flex;
  align-items: center;
}
.phone img {
  margin-right: 0.5rem;
}
.cart {
  display: flex;
  align-items: center;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.cart:hover {
  cursor: pointer;
  color: var(--mainWhite);
  background-color: var(--mainPink);
  border: 1px solid var(--mainPink);
}
.cart img {
  margin-right: 0.5rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}
.welcome p {
  font-size: 2.5rem;
  color: var(--mainWhite);
}
.welcome span {
  color: var(--mainPink);
  font-size: 4rem;
  font-weight: 800;
}
.welcome .exp {
  color: var(--mainBlack);
  font-size: 1.5rem;
  border: 3.5px solid var(--mainBlack);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  text-decoration: none;
}
.welcome .exp:hover {
  background-color: var(--mainBlack);
  color: var(--mainPink);
  cursor: pointer;
}
.wrp2 {
  height: 90vh;
  width: 100%;
  background-color: var(--mainWhite);
  padding: 2.5rem;
}
.tab {
  padding: 3rem 0;
  display: flex;
  height: 100%;
  position: relative;
}
.about {
  height: 100%;
  padding: 1rem;
  width: 50%;
  padding-left: 4rem;
}
.about p:first-child {
  font-size: 2.5rem;
  color: var(--mainBlack);
}
.lorem {
  width: 25rem;
  color: #6c757d;
  margin-bottom: 2rem;
}
.about span {
  color: var(--mainPink);
  font-size: 4rem;
  font-weight: 800;
}
.about .exp2 {
  color: var(--mainBlack);
  font-size: 1.15rem;
  border: 1px solid var(--mainBlack);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  text-decoration: none;
}
.about .exp2:hover {
  background-color: var(--mainBlack);
  color: var(--mainPink);
  cursor: pointer;
}
.abtimg {
  padding: 1rem;
  padding: 0 1rem;
}
.imgcontainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.imgcontainer::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -0.5;
  transition: all 1s ease-in-out;
}
.abtimg img {
  height: 100%;
  width: 100%;
}
.abtimg img:hover {
}
.wrp3 {
  height: max-content;
  width: 100%;
  background-color: var(--mainGrey);
}
.box {
  width: 100%;
  padding-right: 8rem;
  padding-left: 8rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}
.box p {
  font-size: 2.5rem;
  color: var(--mainBlack);
}
.box span {
  color: var(--mainPink);
  font-size: 4rem;
  font-weight: 800;
}
.opt {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.opt a {
  color: var(--mainBlack);
  font-size: 1em;
  border: 1px solid var(--mainBlack);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  text-decoration: none;
  margin: 0 1.5rem;
}
.opt a:hover {
  background-color: var(--mainBlack);
  color: var(--mainPink);
  cursor: pointer;
}
.search {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.src {
  padding: 0.5rem 0.7rem;
  background-color: var(--mainPink);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.src img {
  height: 1rem;
  width: 1rem;
}
.srt {
  height: 100%;
  width: 30rem;
  font-size: 1rem;
  color: #6c757d;
  padding: 0 0.6rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid var(--mainGrey);
}
.line1 {
  margin-top: 2rem;
  height: 21rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.post {
  height: 100%;
  width: 21.5rem;
  background-color: var(--mainWhite);
  border: 1px solid #6c757d49;
  border-radius: 0.3rem;
}
.pimage {
  width: 100%;
  cursor: pointer;
}

.pimage img {
  height: 100%;
  width: 100%;
}
.pp {
  padding: 1rem;
  height: 2.5rem;
  width: 100%;
  font-size: 1.25rem;
  color: var(--mainBlack);
  display: flex;
  justify-content: space-between;
}
.pp span {
  font-size: 1.25rem;
  color: var(--mainBlack);
}
